force-app/main/default/flows/CIT_Cart_Item_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Product_Price</name>
        <label>Get Product Price</label>
        <locationX>887</locationX>
        <locationY>510</locationY>
        <actionName>getProductPricingSAP.ProductPrice</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_Cart_Item</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$User.Account_Id_Formula__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>Get_Product.StockKeepingUnit</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getProductPricingSAP.ProductPrice</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>new_Cart_Item_Assignation</name>
        <label>new Cart Item Assignation</label>
        <locationX>1125</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>newCartItem.CartId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CartId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.CartDeliveryGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CartDeliveryGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.Has_SAP_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.GrossUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Price.2XX.stdPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Price.2XX.stdPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.NetUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Price.2XX.negoPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.SalesPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Price.2XX.negoPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.Sku</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.TotalAdjustmentAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllAdjustment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.TotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNegociatedPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNegociatedPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.TotalLineNetAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNegociatedPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.TotalPriceAfterAllAdjustments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNegociatedPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.UnitAdjustedPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Price.2XX.negoPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.UnitAdjustedPriceWithItemAdj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Price.2XX.negoPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCartItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNegociatedPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SAP_product_that_needs_pricing</name>
        <label>SAP product that needs pricing</label>
        <locationX>881</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.SAP_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AllAdjustment</name>
        <dataType>Currency</dataType>
        <expression>{!TotalListPrice} - {!TotalNegociatedPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalListPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Product_Price.2XX.stdPrice} * {!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalNegociatedPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Quantity} * {!Get_Product_Price.2XX.negoPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CIT - Cart Item Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIT - Cart Item Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cart_Item_Creation</name>
        <label>Cart Item Creation</label>
        <locationX>1444</locationX>
        <locationY>567</locationY>
        <inputReference>newCartItem</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete</name>
        <label>Delete</label>
        <locationX>1276</locationX>
        <locationY>567</locationY>
        <connector>
            <targetReference>Cart_Item_Creation</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>888</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SAP_product_that_needs_pricing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SAP_Pricing__c</queriedFields>
        <queriedFields>StockKeepingUnit</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cart_Item</name>
        <label>Update Cart Item</label>
        <locationX>1079</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>new_Cart_Item_Assignation</targetReference>
        </connector>
        <inputAssignments>
            <field>Has_SAP_Pricing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ListPrice</field>
            <value>
                <elementReference>Get_Product_Price.2XX.stdPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesPrice</field>
            <value>
                <elementReference>Get_Product_Price.2XX.negoPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAdjustmentAmount</field>
            <value>
                <elementReference>AllAdjustment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalLineAmount</field>
            <value>
                <elementReference>TotalNegociatedPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalListPrice</field>
            <value>
                <elementReference>TotalListPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <elementReference>TotalNegociatedPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPriceAfterAllAdjustments</field>
            <value>
                <elementReference>TotalNegociatedPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitAdjustedPrice</field>
            <value>
                <elementReference>Get_Product_Price.2XX.negoPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitAdjustedPriceWithItemAdj</field>
            <value>
                <elementReference>Get_Product_Price.2XX.negoPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Has_SAP_Pricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CartItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newCartItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartItem</objectType>
    </variables>
</Flow>
