force-app/main/default/flows/OS_Approve_Order_and_Send_to_SAP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_Order</name>
        <label>create Order</label>
        <locationX>816</locationX>
        <locationY>383</locationY>
        <actionName>createSAPOrderService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Order_Summary</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>parameters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createSAPOrderService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>body_assignement</name>
        <label>Parameters Assignement</label>
        <locationX>663</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Order_Summary.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>totalAmountStr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>totalItemsStr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Order_Summary</name>
        <label>Update Order Summary</label>
        <locationX>902</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Summary.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Summary.SAP_Order_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Summary.Last_SAP_Sync_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Summary2</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>totalAmountStr</name>
        <dataType>String</dataType>
        <expression>Text({!Get_Order_Summary.GrandTotalAmount} )</expression>
    </formulas>
    <formulas>
        <name>totalItemsStr</name>
        <dataType>String</dataType>
        <expression>Text({!Get_Order_Summary.Number_of_Items__c})</expression>
    </formulas>
    <interviewLabel>OS - Approve Order and Send to SAP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OS - Approve Order and Send to SAP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>663</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>body_assignement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Summary2</name>
        <label>Update Order Summary</label>
        <locationX>1054</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Screen1_0</targetReference>
        </connector>
        <inputReference>Get_Order_Summary</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>532</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <fields>
            <name>Title1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;By clicking on &quot;Approve&quot; all your information will be send to SAP and the Order will be processed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Approve</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_0</name>
        <label>Screen1</label>
        <locationX>1196</locationX>
        <locationY>540</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Title1_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Information sent to SAP - your order is now processed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>406</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bodyInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parameters</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
