force-app/main/default/flows/SCOM_Get_Price_from_SAP_Real_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_Product_Price</name>
        <label>get Product Price</label>
        <locationX>673</locationX>
        <locationY>334</locationY>
        <actionName>getProductPricingSAP.ProductPrice</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Product_Price_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>effectiveAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getProductPricingSAP.ProductPrice</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Effective_Account_with_current_User</name>
        <label>Assign Effective Account with current User</label>
        <locationX>268</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>effectiveAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Account_Id_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Product_Price</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EffectiveAccount_is_null</name>
        <label>EffectiveAccount is null</label>
        <locationX>423</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>get_Product_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Field not null</defaultConnectorLabel>
        <rules>
            <name>Field_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>effectiveAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Effective_Account_with_current_User</targetReference>
            </connector>
            <label>Field is null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SCOM - Get Price from SAP Real-Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCOM - Get Price from SAP Real-Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Product_Price_Screen</name>
        <label>Product Price Screen</label>
        <locationX>835</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Price</name>
            <fieldText>&lt;p&gt;&lt;em&gt;List Price: CHF {!get_Product_Price.2XX.stdPrice}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your price: CHF {!get_Product_Price.2XX.negoPrice}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>EffectiveAccount_is_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Id of the Effective Account</description>
        <name>effectiveAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfPrices</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>negoPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Id of the current product</description>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StandardPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
